*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body::-webkit-scrollbar{
    height: 0;
    width: 0;
}

.header{
    z-index: 0;
    height: 7vh;
    width: 100vw;
    display: flex;
    background-color: rgb(43, 43, 43);
}
header{
    display: flex;
}
ul{
    margin-left: 6vw;
    display: flex;
}
.button{
    cursor: pointer;
    display: grid;
    transition: .3s;
    place-items: center;
    width: 6vw;
    height: 7vh;
}
.button:hover{
    background-color: rgb(26, 26, 26);
}
ul li{
    list-style: none;
}
ul li a{
    top: 50%;
    bottom: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
}
.logo{
    width: 2vw;
}
.logo > img{
    border-radius: 5px;
    position: absolute;
    width: 7.5vw;
}

/*CSS do slider */

section.slider{
    margin: 0 auto;
    padding: 0 !important;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;    
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 33%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border-radius: 50%;
    border: 1px solid 	#6ab900;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.nav-manual .manual-btn:hover{
    background-color: 	#76b900;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: 		#76b900;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: 		#76b900;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: 		#76b900;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: 		#76b900;
}

/*FIM do CSS do slider */

/*Conteudo da home*/

.content{
    margin-top: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
    top: 2vh;
    display: flex;
    width: auto;
    height: 40vh;
    box-shadow: inset 0 0 0 1px #b4b4b4a9;
}
.content > .text > h1{
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 4vh;
}
.content > .text > p{
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 1.8vh;
    font-weight: 100;
}
.content > .text > a > button{
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 22.5vw;
    width: 6vw;
    height: 4vh;
    color: whitesmoke;
    background-color: #6ab900;
    border: none;
}
.content > .rest > img{
    width: 50vw;
    height: 40vh;
}


/*FIM Conteudo da home*/


/*Footer*/
footer{
    margin-top: 2vh;
    background-color: 	#646464;
    width: 100vw;
    height: 15vh;
    justify-items: center;
}
footer > h1{
    color: #fff;
    text-align: center;
    font-weight: 10;
    font-size: 2vh;
}