*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
body{
    background-color: black;
}
body::-webkit-scrollbar{
    width: 0;
}

.header{
    z-index: 0;
    height: 7vh;
    width: 100vw;
    display: flex;
    background-color: rgb(43, 43, 43);
}
header{
    display: flex;
}
ul{
    margin-left: 6vw;
    display: flex;
}
.button{
    cursor: pointer;
    display: grid;
    transition: .3s;
    place-items: center;
    width: 6vw;
    height: 7vh;
}
.button:hover{
    background-color: rgb(26, 26, 26);

}
ul li{
    list-style: none;
}
ul li a{
    top: 50%;
    bottom: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
}
.logo{
    width: 2vw;
}
.logo > a > img{
    border-radius: 5px;
    position: absolute;
    width: 7.5vw;
}

.container{
    margin-top: 30vw;
}

.container .titulo h1{
    color: #fff;
    font-size: 5vh;
}

.placas{
    display: flex;
}
.placas button{
    color: green;
    background-color: green;
    border-radius: none;
}

.titulo > h1{
    margin-top: 6vh;
    position: absolute; 
}
.gtx{
    margin-top: 2vh;
    margin-right: 0vw;
    margin-left: 20vw;
    height: 50vh;
    border: 5px #ddd;
    display: flex;
    overflow-x: auto;
}
.gtx::-webkit-scrollbar{
    width: 0px;
}
.gtx::-webkit-scrollbar-thumb{
    background-color: rgb(8, 153, 28);
    border-radius: 20px;
    height: 20px;
}
.gtx .item{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: grey;
    text-align: center;
    min-width: 17vw;
    height: 40vh;
    line-height: 110px;
}
.gtx > .item > img{
    position: relative;
    width: 10vw;
}
.gtx > .item > h1{
    padding-right: 8vw;
    color: #fff;
    font-size: 2vh;
}
.gtx > .item > p{
    color: #fff;
    font-size: 1.5vh;
}

.footer{
    background-color: #161616;
}
footer{
    height: 20vh;
    margin-top: 4vw;
}
.footer > footer > h1{
    text-align: center;
    color: #fff;
    font-size: 2vh;
    font-weight: 5;
}